* {
  box-sizing: border-box;
}

body {
  background-color: #3ec4e2;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.openSansCondensed {
  font-family: 'Open Sans Condensed', sans-serif;
}

.borderCurved {
  border-radius: 10px;
}

.header {
  font-size: 80px;
  color: white;
  margin: 0px;
  text-align: center;
}

fieldset {
  font-size: 25px;
  font-weight: bold;
  border: 0;
  padding: 4px;
  margin-top: 4px;
}

input {
  border: black solid 4px;
  font-size: 25px;
  padding: 4px;
}