* {
  box-sizing: border-box;
}

body {
  background-color: #3ec4e2;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.mancalaBoard {
  display: block;
  max-width: 85vw;
  margin-top: 2em;
  position: relative;
  height: 24vw;
}

.center {
  margin-left: auto;
  margin-right: auto;	
}

.borderCurved {
  border-radius: 10px;
}

.openSansCondensed {
  font-family: 'Open Sans Condensed', sans-serif;
}

.header {
  font-size: 80px;
  color: white;
  margin: 0px;
  text-align: center;
}

.startGame {
  text-align: center;
  display: block;
  color: white;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 4px;
  border: white solid 4px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  background-color: #AC43E6;
}

.mancala {
  position: relative;
  width: 10vw;
  height: 21.8vw;
  margin: 0.5% 0.5% 0.5% 0.5%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.yourMancala {
  float: right;
  margin: 0.5% 0.7% 0.5% 0.7%;
}

.opponentMancala {
  margin: 0.5% 0.7% 0.5% 0.7%;
  float: left;
}

.pocket {
  border-radius: 50%;
  width: 9vw;
  height: 9vw;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.opponent {
  margin: 0.7% 0.7% 0.5% 0.7%;
  float: left;
}

.player {
  top: 2.6vw;
  float: left;
  position: relative;
  margin: 0.5% 0.7% 0.5% 0.7%;
}

fieldset {
  border: 0;
}

.blue {
  background-color: #3ec4e2;
}

.brown {
  background-color: #DDA86E;
}

.darkBrown {
  background-color: #987158;
}

.blackBorder {
 border: black solid 6px;
}

.blackBoardBorder {
  border: black solid 9px;
}

.whiteBorder {
 border: white solid 6px;
}

.whiteBoardBorder {
  border: white solid 9px;
}

.hidden {
	display: none;
}

.nicknameMenu {
  bottom: 50%;
  left: 0;
  right: 0;
  width: 400px;
  background-color: white;
  position: absolute;
  text-align: center;
  font-size: 25px;
}

.nicknameSubmit, .nicknameChoice {
  font-size: 25px;
}

.pocket:hover{
  background-color: #3ec4e2;
}

.inviteCode {
  position: relative;
  font-size: 30px;
  text-align: center;
  top: 60px;
}

.scoreBoard {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
}

.scoreOpponent {
  left: 0;
  top: 25vw;
}

.scorePlayer {
top: 25vw;
right: 0;
}