/* COLORS */

.blackBorder {
    border: black solid 4px;
}

.blackBoardBorder {
    border: black solid 6px;
}

.blue {
    background-color: #3ec4e2;
}

.brown {
    background-color: #DDA86E;
}

.darkBrown {
    background-image: radial-gradient(#DDA86E, #987158);
}

.whiteBorder {
    border: white solid 4px;
}

.whiteBoardBorder {
    border: white solid 6px;
}

/* INTERACTIBLES */

.pocket:hover {
    background-image: radial-gradient(#DDA86E, #3ec4e2);
}

.pocket:focus {
    background-image: radial-gradient(#DDA86E, #3ec4e2);
    outline: none;
}

.startGame:hover, .joinGame:hover, .backButton:hover, .restartButton:hover, .joinGameSubmit:hover, .nicknameSubmit:hover, .quitButton:hover, .quitYes:hover, .quitNo:hover {
    background-color: red;
}

.startGame:focus, .joinGame:focus, .backButton:focus, .restartButton:focus, .joinGameSubmit:focus, .nicknameSubmit:focus, .quitButton:focus, .quitYes:focus, .quitNo:focus {
    background-color: red;
    outline: none;
}

a, button, button::-moz-focus-inner {
  border: 0;
}

/* PIECES AND POCKETS */

.piece {
    border-radius: 50%;
    background-color: #AC43E6;
    width: 2.5vw;
    height: 2.5vw;
    border: black solid 2px;
}

.pocket .piece {
    position: absolute;
    width: 30%;
    height: 30%;
}

/* VISIBILITY */

.screenReaderOnly {
    visibility: hidden;
    position: absolute;
}

.hideVisibility {
    visibility: hidden;
}

.hidden {
    display: none;
}

/* PLACEMENT */

.center {
    margin-left: auto;
    margin-right: auto;
}